git+https://github.com/astropy/astropy
git+https://github.com/asdf-format/asdf
git+https://github.com/asdf-format/asdf-standard.git
git+https://github.com/asdf-format/asdf-transform-schemas

scipy>=0.0.dev0
numpy>=0.0.dev0
