name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'

jobs:
  tox_pytest:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.10 Tests
            python-version: "3.10"
            os: ubuntu-latest
            toxenv: py310-test

          - name: Python 3.9 with code coverage
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: py39-cov

          - name: Python 3.9, Development Dependencies
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: py39-test-devdeps

          - name: Python 3.8 Tests
            python-version: "3.8"
            os: ubuntu-latest
            toxenv: py38-test

          - name: Mac OS Latest
            python-version: "3.9"
            os: macos-latest
            toxenv: py39-test

          - name: Windows Latest
            python-version: "3.9"
            os: windows-latest
            toxenv: py39-test

          - name: Python 3.9, Numpy 1.18
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: py39-test-numpy118

          - name: Python 3.9, Numpy 1.19
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: py39-test-numpy119

          - name: Python 3.9 with Astropy LTS
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: py39-astropylts

          - name: Build Documents
            python-version: "3.9"
            os: ubuntu-latest
            toxenv: build_docs

          - name: Code Style Checks
            python-version: "3.8"
            os: ubuntu-latest
            toxenv: codestyle

          - name: Warnings Treated as Exceptions
            os: ubuntu-latest
            python-version: "3.9"
            toxenv: warnings

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}
      - name: Upload Code Coverage
        if: ${{ contains(matrix.toxenv,'-cov') }}
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
